body{
    background-color: rgb(192, 204, 236);
    font-family: Arial;
}

h1{
    text-align: center;
    margin: 100px auto;
    color: rgb(96, 96, 238);
    font-size: 50px;
}

#container{
    margin: 0px auto;
    width: 1000px;
}

table{
    background-color: white;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

th, td{
    border: solid 1px black;
    padding: 7px;
}